// Themes
:root {
	--body-bg: hsl(0, 0%, 100%);
	--header-bg: hsl(225, 100%, 98%);
	--card-bg: hsl(227, 47%, 96%);
	--card-hover: #E2E3F0;
	--text-primary: hsl(230, 17%, 14%);
	--text-secondary: hsl(228, 12%, 44%);
	--border: hsl(228, 12%, 44%);
}
[data-theme="dark"] {
	--body-bg: hsl(230, 17%, 14%);
	--header-bg: hsl(232, 19%, 15%);
	--card-bg: hsl(228, 28%, 20%);
	--card-hover: #333B55;
	--text-primary: hsl(0, 0%, 100%);
	--text-secondary: hsl(228, 34%, 66%);
	--border: hsla(228, 34%, 66%, 0.527);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 0 26px;
	font-family: "Inter", sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--body-bg);
}

.wrapper {
	margin: 0 auto;
	padding: 36px 0;
	max-width: 1120px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 42px;

	&:before {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		content: "";
		width: 100%;
		height: 240px;
		background-color: var(--header-bg);
	}

	.header__title {
		margin-bottom: 3px;
		color: var(--text-primary);
	}

	.header__total {
		font-weight: bold;
		color: var(--text-secondary);
	}

	.theme-switch-wrapper {
		display: flex;
		align-items: center;

		strong {
			margin-right: 15px;
			color: var(--text-secondary);
		}
	}

	.theme-switch {
		display: inline-block;
		position: relative;
		height: 25px;
		width: 46px;

		input {
			display: none;

			&:checked + .slider {
				background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
			}
			&:checked + .slider:before {
				background-color: var(--header-bg);
				transform: translateX(21px);
			}
		}

		.slider {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			cursor: pointer;
			background-color: hsl(230, 22%, 74%);
			transition: .4s;
			border-radius: 1000px;

			&:before {
				position: absolute;
				content: '';
				width: 17px;
				height: 17px;
				left: 4px;
				bottom: 4px;
				background-color: #fff;
				transition: .4s;
				border-radius: 1000px;
			}
		}
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
	grid-gap: 26px;

	&__card {
		overflow: hidden;
		padding: 26px;
		border-radius: 6px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		background-color: var(--card-bg);
		text-align: center;
		color: var(--text-secondary);
		transition: background-color .4s;

		&:hover {
			background-color: var(--card-hover);
		}

		.account {
			display: flex;
			font-weight: bold;
		}

		.accumulation {
			padding-left: 16px;
			width: max-content;
			font-weight: bold;
			background-repeat: no-repeat;
			background-position: center left;
			background-size: auto 6px;

			&--inc {
				color: hsl(163, 72%, 41%);
				background-image: url("../images/icon-up.svg");
			}
			&--dec {
				color: hsl(356, 69%, 56%);
				background-image: url("../images/icon-down.svg");
			}
		}
	}
}

#followers {
	margin-bottom: 40px;
	.grid__card {
		position: relative;
		padding-top: 31px;
		height: 220px;

		&:before {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			content: "";
			width: 100%;
			height: 5px;
		}
		&--fb:before {
			background: hsl(208, 92%, 53%);
		}
		&--tw:before {
			background: hsl(203, 89%, 53%);
		}
		&--ig:before {
			background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
		}
		&--yt:before {
			background: hsl(348, 97%, 39%);
		}

		.account {
			align-items: center;
			justify-content: center;

			&__icon {
				margin-right: 10px;
			}
		}

		.followers {
			&__count {
				display: block;
				font-size: 54px;
				font-weight: bold;
				color: var(--text-primary);
			}
			&__label {
				display: block;
				font-size: 12px;
				text-transform: uppercase;
				letter-spacing: 5px;
			}
		}
	}
}

#overview {
	h2 {
		margin-bottom: 26px;
		font-size: 24px;
		color: var(--text-secondary);
	}

	.grid__card {
		height: 130px;

		.account,
		.overview__stats {
			width: 100%;
			justify-content: space-between;
		}
		.overview__stats {
			display: flex;
			align-items: flex-end;

			.overview__total {
				font-size: 34px;
				font-weight: bold;
				color: var(--text-primary);
			}
		}
	}
}

.attribution {
	margin-top: 60px;
	text-align: center;
	color: var(--text-secondary);

	a {
		text-decoration: none;
		color: hsl(208, 92%, 53%);

		&:hover {
			opacity: 0.75;
		}
	}
}

@media screen and (max-width: 375px) {
	.header__title,
	#overview h2 {
		font-size: 24px;
	}
}

@media screen and (max-width: 547px) {
	header {
		display: block;

		.theme-switch-wrapper {
			margin-top: 30px;
			padding-top: 14px;
			width: 100%;
			justify-content: space-between;
			border-top: 1px solid var(--border);
		}
	}
}
